* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

header {
    background-color: rgb(238, 238, 238);
    padding: 30px 15%;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.header_left {
    display: flex;
    align-items: center;
}
.header_left p {
    font-weight: 300;
    margin: 0 4em;
    max-width: 50%;
    font-size: 17px;
}
.header_right {
    font-size: 17px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main {
    padding: 2em 15%;
}
main .back a {
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
main .card-detail {
    display: grid;
    grid-template-columns: 60% auto;
}
.card-detail .description {
    background-color: rgb(238, 238, 238);
    padding: 15px;
}
.card-detail .description h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-detail .description button {
    margin-top: 2em;
    padding: 10px 0;
    width: 100%;
    border: none;
    background-color: rgb(255, 102, 0);
    font-size: 15px;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
    color: white;
}
.card-line {
    display: flex;      /* Display children in a row */
    flex-wrap: nowrap;  /* Prevent children from wrapping to the next line */
    justify-content: flex-start;  /* Start at the beginning of the line */
    align-items: center; /* Align children vertically in the center */
}