{% extends 'base.html' %}

{% block filters %}
<h5>Фильтры</h5>
<div class="mb-3">
    <label for="categoryFilter" class="form-label">Категория</label>
    <select class="form-select" id="categoryFilter">
        <option selected>Выберите категорию...</option>
        {% for category in categories %}
        <option>{{ category }}</option>
        {% endfor %}
    </select>
</div>
<div class="mb-3">
    <label for="timeFilter" class="form-label">Время</label>
    <input type="text" class="form-control" id="timeFilter" placeholder="Время">
</div>
<div class="mb-3">
    <label for="ageFilter" class="form-label">Возраст</label>
    <input type="text" class="form-control" id="ageFilter" placeholder="Возраст">
</div>
<div class="mb-3">
    <label for="priceFilter" class="form-label">Цена</label>
    <input type="text" class="form-control" id="priceFilter" placeholder="Цена">
</div>
<div class="mb-3">
    <label for="playersFilter" class="form-label">Количество игроков</label>
    <input type="text" class="form-control" id="playersFilter" placeholder="Количество игроков">
</div>
<div class="mb-3">
    <label for="complexityFilter" class="form-label">Сложность</label>
    <select class="form-select" id="complexityFilter">
        <option selected>Выберите сложность...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
</div>
<div class="mb-3">
    <label for="makerFilter" class="form-label">Создатель</label>
    <input type="text" class="form-control" id="makerFilter" placeholder="Создатель">
</div>
<button type="submit" class="btn btn-primary">Применить</button>
{% endblock %}
{% block content %}
<h2 class="mb-4">Популярные игры</h2>
<div class="row">
    {% for game in games %}
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="{{ game.logo.url }}" class="card-img-top" alt="Игра">
            <div class="card-body">
                <h5 class="card-title">{{ game.name }}</h5>
                <p class="card-text">{{ game.description|truncatechars:100 }}</p>
                <a href="{{ game.get_absolute_url}}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block sidebar %}
<div class="mb-4">
    <h2>Игротеки</h2>
    <ul class="list-group">
        {% for event in events %}
        <li class="list-group-item">{{ event.name }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}