{% extends 'base.html' %}
{% load static %}
{% load mptt_tags %}

{% block mega_content %}
<!-- Content -->
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="game-card mb-4">
            <img src="{{ game.logo.url }}" class="card-img-top" alt="Настольная игра">
            <div class="game-card-body">
                <h2 class="card-title">{{ game.name }}</h2>
                <h3 class="card-title">{{ game.rating }}</h3>
                <p class="card-text">{{ game.description }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Издатель:</strong> {{ game.maker.name }}</li>
                    <li class="list-group-item"><strong>Год выпуска:</strong> 2022</li>
                    <li class="list-group-item"><strong>Количество игроков:</strong> от {{ game.players_min }} до {{
                        game.players_max }}
                    </li>
                    <li class="list-group-item"><strong>Возраст:</strong> от {{ game.supposed_age }} лет</li>
                    <li class="list-group-item"><strong>Цена:</strong> {{ game.price }} рублей</li>
                </ul>
                <a href="#" class="btn btn-primary mt-3">Подробнее</a>
            </div>
        </div>
    </div>
</div>

<!-- Отзывы -->
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Отзывы</h2>
        {% for review in game.userreview_set.all %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">{{ review.user.username }}</h5>
                <p class="card-text">{{ review.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Вопросы</h2>
        {% recursetree game.comment_set.all %}
        <div class="card mb-3" style="margin-left: {{ node.level }}rem;">
            <div class="card-body">
                <h5 class="card-title">{{ node.user.username }}</h5>
                <p class="card-text">{{ node.text }}</p>
            </div>
        </div>
        {% if node.children %}
        {{ children }}
        {% endif %}
        {% endrecursetree %}
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Инструкция</h2>
        <div class="card mb-3">
            <div class="card-body">
                <a href="{{ game.rules.url }}">Скачать правила игры</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
